@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<style>
    a{
    color: #1a1e21;
    text-decoration: none;
    
    }
    i{
        font-size: 5rem;
    }
</style>

<div class="row">
    <div class="col-12 col-md-4 col-lg-3 mt-5">
        <a href="~/Admin/Assessments" class="card h-100">
            <div class="card-body text-center align-middle">
                <div class="card-title"><i class="bi bi-list-check"></i>
</div>
                <div class="card-text h3 font-weight-bold text-wrap">Assessments</div>
            </div>
        </a>
    </div>

    <div class="col-12 col-md-4 col-lg-3 mt-5">
        <a href="~/AdminUser/ManageUsers" class="card h-100">
            <div class="card-body text-center">
                <div class="card-title"><i class="bi bi-people"></i></div>
                <div class="card-text h3 font-weight-bold text-wrap">Users</div>
            </div>
        </a>
    </div>

    <div class="col-12 col-md-4 col-lg-3 mt-5">
        <a href="~/RoleAdmin/ManageRoles" class="card h-100">
            <div class="card-body text-center">
                <div class="card-title"><i class="bi bi-briefcase"></i></div>
                <div class="card-text h3 font-weight-bold text-wrap">Roles</div>
            </div>
        </a>
    </div>

    <div class="col-12 col-md-4 col-lg-3 mt-5">
        <a href="~/Admin/ProgramDashboard" class="card h-100">
            <div class="card-body text-center">
                <div class="card-title"><i class="bi bi-book"></i></div>
                <div class="card-text h3 font-weight-bold  text-wrap">Programs & Courses</div>
            </div>
        </a>
    </div>


    <div class="col-12 col-md-4 col-lg-3 mt-5">
        <a href="~/AdminMapping/Index" class="card h-100">
            <div class="card-body text-center">
                <div class="card-title"><i class="bi bi-diagram-2-fill"></i></div>
                <div class="card-text h3 font-weight-bold text-wrap">Mapping</div>
            </div>
        </a>
    </div>

    <div class="col-12 col-md-4 col-lg-3 mt-5">
        <a href="~/AdminScheduling/Index" class="card h-100">
            <div class="card-body text-center">
                <div class="card-title"><i class="bi bi-calendar"></i></div>
                <div class="card-text h3 font-weight-bold text-wrap">Scheduling</div>
            </div>
        </a>
    </div>

   
        <div class="col-12 col-md-4 col-lg-3 mt-5">
            <a href="@ViewBag.ReportingURL" class="card h-100">
                <div class="card-body text-center">
                    <div class="card-title"><i class="bi bi-clipboard-data"></i></div>
                    <div class="card-text h3 font-weight-bold text-wrap">Reporting</div>
                </div>
            </a>
        </div>
    
</div>